*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #212121;
}

#main{
    margin-top:20vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    text-align:center;
    color:#fff;

}

.clock{
    margin-top:5vh;
    background-color: orange;
    padding:20px 90px;
    color:black;
    border-radius: 10px;
    font-size: 1.4em;
}